.status {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0D1F5C,
    #0B8CA8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0D1F5C,
    #0B8CA8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: ; */
  padding: 16px 22px;
  padding-top: 100px;
  text-align: center;
}

.status-header {
  margin-top: 10vh;
}
.status-header h1 {
    max-width: 80%;
    display: inline-block;
}
.status-header-content {
    font-size: 30px;
    text-align: bottom;
    color: white;
    font-weight: bold;
}

.status-content {
    padding: 16px 22px;
}

.status-box-air {
  margin-bottom: 2rem;
}
