.container {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0D1F5C;
    color: white;
    text-align: center;
    height: 10vh;
}

.link {
    text-decoration: none;
    background: azure;
    color: lightslategrey;
    width: 100%;
    height: 100%;
}

.button {
    width: 100%;
    height: 100%;
    border: 1px;
}